header {
  z-index: 0;
  height: 100px;
  width: 100%;
  
}

welcome {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
color: black;  background-color:#ff8484;
}
h3 {
color: #ff8484;
 }
nav a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: right;
  right: 0;
  color: black;
}

body {
 background-color: black;
 color: #ff8484;
}

.link{
  color: #ff8484;
}
@media only screen and (max-width: 600px) {
  #header {
  
  color: black;
} 
.nav-link {
  color: black;
}
ul a {
  float: left;
}
}
